registry=https://registry.npmjs.org/
node-linker=hoisted
prefer-workspace-packages=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
legacy-peer-deps=true

# 设置Node版本
node-version=18.x
unsafe-perm=true
save-exact=true 